.card{
    width: 600px;
    margin: 50px auto;
    position: relative;
}

.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: absolute;
    bottom:50%;
    left: 50%;
    transform: translate(-50%,50%); 
}

.img{
    width: 100%;
    border-radius: 14px;
     /* transform: rotate(2deg); /*rotateX() rotateY()  */
     /* transform: scale(1.1); scaleX() scaleY()   */
     /* transform: skew(4deg , 9deg); skewX(4deg) skewY(9ded) */
}

.img:hover{
    transform: rotateX(2deg); 
     transform: scale(1.1);

}