.box{
    width: 400px;
    margin: 50px auto;
}

.img{
    width: 100%;
    border-radius: 14px;

    filter: blur(1px);
    transition: 1s;
    /* filter: brightness(50%); */
    /* filter: contrast(70%);  use full for override on this to look good */
    /* filter:hue-rotate(100deg);*/
    /* filter:saturate(100%); */
    /* filter:grayscale(100%); */
    /* filter: sepia(40%); */
    /* filter: drop-shadow(-4px -4px 2px black); */
}

.img:hover{
    filter: blur(0); 
}