body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:black;
    color: white;
    margin: 0;
    padding: 0;
}

.left-container{
    width: 24vw;
    height: 100vh;
}

.right-container{
    width: 76vw;
    height: 100vh;
    overflow: auto;
}

.main-container{
    display: flex;
}

.left-box1{
    border: none;
    border-radius: 6px;
    margin: 10px 8px;
    font-size: 16px;
    font-weight: 625;
    color: rgb(179,179,179);
    background-color:rgb(19,19,19);
}

.lflex-1{
    margin: 2px 23px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
}

.lflex-1:hover .home-svg{
    fill: white;
}

.lflex-1:hover .text{
    color: white;
}

.lflex-2{
    margin: -8px 23px 2px 23px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: .4s;
}


.lflex-2:hover .search-svg{
    fill: white;
}

.lflex-2:hover .text{
    color: white;
}


.home-svg{
    padding: 0;
    fill: rgb(179,179,179);
    width: 24px;
    height: 24px;
}

.search-svg{
    padding: 0;
    fill: rgb(179,179,179);
    width: 24px;
    height: 24px;
}

.left-box2{
    border: none;
    border-radius: 6px;
    height:calc(100vh-110px);  /* 78vh*/
    margin: 0 8px;
    font-size: 16px;
    font-weight: 625;
    color: rgb(179,179,179);
    background-color:rgb(19,19,19);
}

.liberary-svg{
    padding: 0;
    fill: rgb(179,179,179);
    width: 24px;
    height: 24px;
}

.add-svg{
    padding: 7px;
    fill: rgb(179,179,179);
    width: 18px;
    height: 18px;
    border-radius: 50%;
} 

.add-svg:hover{
   
    fill: white;
    background-color: rgb(24,24,24);
} 

.left-box-2_1{
    margin: 2px 23px;

    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.flex{
    display: flex;
    align-items: center;
    gap: 12px;
}


.flex:hover .liberary-svg{
    fill: white;
}

.flex:hover .text{
    color: white;
}

.main-subbox{
    margin:8px 8px;
    height: 31vh; 
    overflow: auto;
    color: white;
}

.sub-box1{
    background-color: rgb(36,36,36);
    border-radius: 8px;
    padding: 1px 4px;
    margin-bottom: 25px;
}

.sub-box2{
    background-color: rgb(36,36,36);
    border-radius: 8px;
    padding: 1px 4px;
    margin-bottom: 15px;
}

.firstplaylist-text{
     font-size: 17px;
     margin-left:15px ;
}

.small{
    font-size: 13px;
    margin-left: 15px;
    padding: 0;
}

.create-btn{
    padding: 8px 14px;
    color: black;
    font-weight: 600;
    background-color: white;
    border: none;
    border-radius: 40px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.create-btn:hover{
    transform: scale(1.05);
}


.links{
    margin: 40px 25px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 11px;
    cursor: pointer;

}

.links p{
    margin:-2px 0;
    font-weight: 400;
}

.lang-btn{
    width: 70px;
    border: .5px solid rgb(114,114,114);
    border-radius: 40px;
    margin: 35px 25px;
    font-size:14px;
    padding: 6px 10px;
    display: flex;
    color: white;
    gap: 5px;
}

.lang-btn:hover{
    border: .5px solid white;
     transform: scale(1.05);
}

.lang-svg{
    padding: 0;
    fill: white;
    width: 15px;
    height: 15px;
    margin-top:2px ;
}

.lang-btn p{
    margin: 0;
}

/* -------------------------------------------------------------- */

.container{
    background-color: rgb(17,17,17);
    margin: 12px 4px 60px 0;
    height: auto;
    border-radius: 6px;
    /* background-color: blue; */
}

.arrow-svg1{
    fill: rgb(179,179,179);
    width: 16px;
    height: 16px;
    padding: 8px;
    border-radius: 50%;
    margin-top: 8px;
    margin-bottom: 4px;
    background-color: black;
    margin-left: 24px;
}

.arrow-svg2{
    fill: rgb(179,179,179);
    width: 16px;
    height: 16px;
    padding: 8px;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: -2px;
    background-color: black;
}

.sticky{
    height: auto;
    align-self:flex-start;          
    position: sticky;
    padding: 10px 0 6px 0;
    top: 0; 
    display: flex;
    border-radius: 6px 6px 0 0;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(16,16,16);
}

.signup-btn{
    padding:15px 26px;
    margin-top:4px;
    color:  rgb(179,179,179);
    background-color:black ;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    font-weight: 550;
    margin-right:-6px;
    margin-bottom: 4px;
    cursor: pointer;
}

.signup-btn:hover{
    transform: scale(1.05);
    color: white;
}

.login-btn{
    padding:15px 30px;
    margin-top:4px;
    margin-bottom: 4px;
    color: black;
    background-color:white ;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    font-weight: 550;
    margin-right: 25px;
    cursor: pointer;
}

.login-btn:hover{
    transform: scale(1.05);
}

.flex{
    display: flex;
    align-items: center;
}

.song-container{
    background-color: rgb(17,17,17) ;
    border-radius: 6px;
}
.heads{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.heads p{
    margin: 14px 2px 0 34px;
    font-size: 23px;
    font-weight: 650;
}

.heads h4{
    margin: 14px 26px 0 22px;
    font-size: 14px;
    font-weight: 650;
    color:rgb(179,179,179);
    cursor: pointer;
}

.heads h4:hover{
   text-decoration: underline;
}

.heads p:hover{
    text-decoration: underline;
}

.song-box{
    width: 170px;
    padding: 15px;
    padding-bottom: 0px;
    background-color: rgb(24,24,24) ; 
    border-radius: 6px;
    margin: 10px 0px; 
    transition: all ease 0.1;
    cursor: pointer;
}

.song-box:hover{
    background-color:rgb(36,36,36) ;
}

.song-container .song-flex .song-img{
    width:170px;
    height:170px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.song-container .song-flex .song-box .play{
position: relative;
}

.song-container .song-flex .song-box .play .fa{
    position: absolute;
    right: 10px;
    top: -50px;
    padding: 10px;
    width: 25px;
    background-color: #35db6f;
    border-radius: 50%;
    opacity: 0;
    transition: all ease 0.4s;
}

.song-container .song-flex .song-box:hover .play .fa{
    opacity: 1;
    transform: translateY(-20px);
}

.play-svg{
    width: 5px;
    height: 5px;
    fill: antiquewhite;
}

.song-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 30px;
}



.main-line{
    font-size: 16px;
    font-weight: 650;
}

.desc-line{
    font-size: 14px;
    color:rgb(179,179,179) ;
    margin-top:-10px ;
}

.mini-line{
    font-size: 16px;
    color:rgb(179,179,179) ;
}

.mini-line:hover{
   text-decoration: underline;
   cursor: pointer;
}

.details-flex{
    background-color:rgb(17,17,17) ;
    margin-top: 60px;
    margin: 60px 30px 0 30px;
    display: flex;
    justify-content:space-between ;
}

.details-flex p{
    margin: 12px;
}

.icon-holder{
   width: 40px;
   height: 40px;
   background-color:rgb(41,41,41);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
}

.icon-holder:hover{
    background-color: rgb(89,89,89);
}

.icon-svg{
    width: 16px;
    height: 16px;
    fill: white;
    margin: 12px 8px;
    /* background-color:blueviolet; */
}


.link-svgs{
     display: flex;
     gap: 14px;
     margin-top: 16px;
}

.link-svgs p{
    margin: 10px;
}

.footer{
    margin: 30px auto;
    width: 92%;
    border-top: 1px solid rgb(42,42,42);
}

.footer-text{
    font-size: 14px;
    color:rgb(179,179,179);
    margin: 40px 0 70px 0px;
}
