body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: #191919; */
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(54,54,54,1) 89%);
    color: white;
}

.main-container{
    width: 700px;
    margin: 30px auto 0 auto;
    font-size: 16px;
}

.search-box{
    width: 100%;
    display: flex;
}

input{
    width: 75%;
    padding:16px 14px;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 18px;
    background-color: rgb(79, 79, 79);
    color: white;
}


button{
    width: 25%;
    font-size: 18px;
    color: white;
    background-color: red;
    border: none;
    cursor: pointer;
}

.btn:active{
    transform: scale(1.01);
}

.details-container{
    margin: 40px 0;
    display: flex;
    gap: 6px;
    justify-content: space-between;
}

h2{
    margin: 0;
}

.poster-container{
    position: relative;
    align-self: self-start; /* for set the height of the poster*/
}

.rating{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 2px 14px;
    border: none;
    border-radius: 6px;
}

.d-none{
    display: none;
}

.loader{
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid red; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    text-align: center;
    margin: 200px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }